@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LEMON MILK Pro FTR";
    src: url("/fonts/LEMON_MILK_PRO_ULTRA_LIGHT.OTF") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "LEMON MILK Pro FTR";
    src: url("/fonts/LEMON_MILK_PRO_REGULAR.OTF") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LEMON MILK Pro FTR";
    src: url("/fonts/LEMON_MILK_PRO_MEDIUM.OTF") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "LEMON MILK Pro FTR";
    src: url("/fonts/LEMON_MILK_PRO_BOLD.OTF") format("opentype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --swiper-navigation-color: theme("colors.primary-red");
    --swiper-pagination-color: theme("colors.primary-red");
}
